.main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#729fd6, #eff4fa);
}

.main1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.main2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ad1Image {
	width: 300px;
	height: 250px;
}

.trackCoronaImage {
	width: 306px;
	height: 172px;
}

.ad2Image {
	width: 300px;
	height: 250px;
}

.buyPremiumImage {
	width: 298px;
	height: 167px;
}

.ad3Image {
	width: 298px;
	height: 167px;
}

.featuredDealImage {
	width: 306px;
	height: 172px;
}

.topStory {
	display: flex;
	width: 788px;
	height: 721px;
	margin-top: 60px;
	background-color: white;
	border-radius: 10px;
}

.title {
	margin-top: -35px;
	font-size: 1.25rem;
	font-weight: bolder;
	margin-bottom: 12px;
}
.topStory1 {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 50px;
}

.topStoryList1 {
	display: flex;
	flex-direction: row;
	width: 504px;
	height: 69px;
	margin-top: 10px;
	border-bottom: 1px lightgray solid;
	border-top: 1px lightgray solid;
}

.topStoryListText1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25px;
}

.topStoryListText2 {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25px;
}

.topStoryListText3 {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25px;
}

.topStoryListText4 {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25px;
}

.rightArrowIcon1 {
	width: 24px;
	margin-top: 25px;
}

.rightArrowIcon2 {
	width: 24px;
	margin-top: 10px;
}

.rightArrowIcon3 {
	width: 24px;
	margin-top: 10px;
}

.rightArrowIcon4 {
	width: 24px;
	margin-top: 10px;
}

.topStoryList2 {
	display: flex;
	flex-direction: row;
	width: 504px;
	height: 45px;
	margin-top: 10px;
	border-bottom: 1px lightgray solid;
}

.topStoryList3 {
	display: flex;
	flex-direction: row;
	width: 504px;
	height: 45px;
	margin-top: 10px;
	border-bottom: 1px lightgray solid;
}

.topStoryList4 {
	display: flex;
	flex-direction: row;
	width: 504px;
	height: 45px;
	margin-top: 10px;
}

.topStory2 {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 50px;
}

.topStory3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.topStory4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.topStoryImage {
	width: 496px;
	height: 279px;
	border-radius: 10px;
}

.topStory1Text {
	width: 496px;
	height: 60px;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
}

.topStoryImage2 {
	width: 244px;
	height: 137px;
	border-radius: 10px;
}

.topStory2Text {
	width: 244px;
	height: 37px;
	color: black;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.25em;
	margin-top: 10px;
}

.topStoryImage3 {
	width: 244px;
	height: 137px;
	border-radius: 10px;
}

.topStory3Text {
	width: 244px;
	height: 37px;
	color: black;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.25em;
	margin-top: 10px;
}

.topStoryImage4 {
	width: 244px;
	height: 137px;
	border-radius: 10px;
}

.topStory4Text {
	width: 244px;
	height: 37px;
	color: black;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.25em;
	margin-top: 10px;
}

.latestNews {
	display: flex;
	flex-direction: column;
	width: 788px;
	height: 313px;
	margin-top: 15px;
	background-color: white;
	border-radius: 10px;
}

.latestNewsText {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 25px;
	height: 30px;
	width: 756px;
	font-size: 1.25rem;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

.latestNewsImageMain {
	display: flex;
	flex-direction: row;
	margin-left: 25px;
}

.latestNewsImageMain1 {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.latestNewsImageMain2 {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.latestNewsImageMain3 {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.latestNewsImageMain4 {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.latestNewsImage1 {
	height: 99px;
	width: 177px;
	border-radius: 10px;
}

.latestNewsText1 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.latestNewsImage2 {
	height: 99px;
	width: 177px;
	border-radius: 10px;
}

.latestNewsText2 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.latestNewsImage3 {
	height: 99px;
	width: 177px;
	border-radius: 10px;
}

.latestNewsText3 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.latestNewsImage4 {
	height: 99px;
	width: 177px;
	border-radius: 10px;
}

.latestNewsText4 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.latestNewsSeeMore {
	display: flex;
	background-color: blue;
	border-radius: 30px;
	width: 100px;
	height: 30px;
	margin-top: 25px;
	margin-left: 20px;
	color: white;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 16px;
}

.weatherAcrossAmerica {
	display: flex;
	flex-direction: column;
	width: 788px;
	height: 562px;
	margin-top: 15px;
	justify-content: center;
	background-color: white;
	border-radius: 10px;
}

.weatherTitle {
	background-color: white;
	text-align: start;
	font-size: 24px;
	margin-left: 20px;
	margin-bottom: 25px;
	margin-top: -20px;
}

.weatherAcrossAmericaImage {
	width: 756px;
	height: 425px;
	align-items: center;
	margin-left: 20px;
}

.weatherReadMore {
	display: flex;
	background-color: blue;
	border-radius: 30px;
	width: 100px;
	height: 30px;
	margin-top: 25px;
	margin-left: 20px;
	color: white;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 16px;
}

.topStoryReadMore {
	display: flex;
	background-color: blue;
	border-radius: 30px;
	width: 108px;
	height: 32px;
	margin-top: 25px;
	margin-left: 20px;
	color: white;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 0.8125rem;
}

.trackCoronaImageMain {
	display: flex;
	flex-direction: column;
}

.trackCoronaSeeMore {
	display: flex;
	background-color: blue;
	border-radius: 30px;
	width: 108px;
	height: 32px;
	margin-top: 25px;
	color: white;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 0.8125rem;
}

.featuredDealSeeMore {
	display: flex;
	background-color: blue;
	border-radius: 30px;
	width: 108px;
	height: 32px;
	margin-top: 25px;
	color: white;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 0.8125rem;
}

.latestNewsSeeMore {
	display: flex;
	background-color: blue;
	border-radius: 30px;
	width: 108px;
	height: 32px;
	margin-top: 25px;
	color: white;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 0.8125rem;
}
.recommended {
	width: 788px;
	height: 309px;
	margin-top: 15px;
	background-color: white;
	border-radius: 10px;
}

.recommendedText {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 25px;
	height: 30px;
	width: 756px;
	font-size: 1.25rem;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

.recommendedImageMain {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.recommendedImageMain1 {
	display: flex;
	flex-direction: column;
}

.recommendedImage1 {
	height: 135px;
	width: 241px;
}

.recommendedText1 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.recommendedImageMain2 {
	display: flex;
	flex-direction: column;
}

.recommendedImage2 {
	height: 135px;
	width: 241px;
}

.recommendedText2 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.recommendedImageMain3 {
	display: flex;
	flex-direction: column;
}

.recommendedImage3 {
	height: 135px;
	width: 241px;
}

.recommendedText3 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.recommendedSeeMore {
	display: flex;
	background-color: blue;
	border-radius: 30px;
	width: 108px;
	height: 32px;
	margin-top: 25px;
	color: white;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 0.8125rem;
	margin-left: 15px;
}

.photos {
	width: 788px;
	height: 273px;
	margin-top: 15px;
	background-color: white;
	border-radius: 10px;
}

.photosText {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 25px;
	height: 30px;
	width: 756px;
	font-size: 1.25rem;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

.photosImageMain {
	display: flex;
	flex-direction: row;
	margin-left: 25px;
}

.photosImageMain1 {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.photosImage1 {
	height: 99px;
	width: 177px;
	border-radius: 10px;
}

.photosText1 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.photosImageMain2 {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.photosImage2 {
	height: 99px;
	width: 177px;
	border-radius: 10px;
}

.photosText2 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.photosImageMain3 {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.photosImage3 {
	height: 99px;
	width: 177px;
	border-radius: 10px;
}

.photosText3 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.photosImageMain4 {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.photosImage4 {
	height: 99px;
	width: 177px;
	border-radius: 10px;
}

.photosText4 {
	height: 35px;
	width: 177px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	margin-top: 10px;
}

.photosSeeMore {
	display: flex;
	background-color: blue;
	border-radius: 30px;
	width: 108px;
	height: 32px;
	margin-top: 25px;
	color: white;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 0.8125rem;
	margin-left: 15px;
}

.ad1 {
	display: flex;
	width: 338px;
	height: 285px;

	margin-top: -150px;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

.trackCorona {
	display: flex;
	flex-direction: column;
	width: 338px;
	height: 377px;
	margin-top: 15px;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

.trackCoronaText {
	width: 306px;
	height: 60px;
	font-size: 22px;
	margin-top: -5px;
	margin-bottom: 15px;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

.featuredDealText {
	width: 306px;
	height: 30px;
	font-size: 1.25rem;
	margin-top: -5px;
	margin-bottom: 15px;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

.featuredDealText2 {
	width: 306px;
	height: 35px;
	font-size: 0.875rem;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.buyPremiumText {
	width: 306px;
	height: 60px;
	font-size: 22px;
	margin-top: -5px;
	margin-bottom: 15px;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

.buyPremiumText2 {
	width: 306px;
	height: 35px;
	font-size: 0.875rem;
	margin-top: 10px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}

.trackCoronaText2 {
	width: 306px;
	height: 35px;
	font-size: 0.875rem;
	margin-top: 10px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}

.ad2 {
	width: 338px;
	height: 285px;

	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

.buyPremium {
	display: flex;
	flex-direction: column;
	width: 338px;
	height: 374px;

	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

.ad3 {
	display: flex;
	flex-direction: column;
	width: 338px;
	height: 285px;

	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

.ad3Text {
	width: 298px;
	height: 20px;
	margin-bottom: 15px;
	margin-top: 5px;
	font-size: 16px;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

.ad3TextLink {
	width: 298px;
	height: 23px;
}
.ad3Link {
	text-decoration: none;
}

.featuredDeal {
	display: flex;
	flex-direction: column;
	width: 338px;
	height: 347px;
	margin-top: 15px;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 486px;
}

.footerItems1 {
	display: flex;
	width: 1138px;
	height: 90px;
	margin-bottom: 25px;
	justify-content: space-between;
	align-items: center;
}

.menuButtonsLeft {
	height: 70px;
	width: 360px;
}

.menuButtonsRight {
	height: 70px;
	width: 200px;
}
.footerItems2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1138px;
	height: 31px;
	margin-bottom: 25px;
}

.feedback {
	margin-right: 25px;
}

.careers {
	margin-right: 25px;
}

.press {
	margin-right: 25px;
}

.adverts {
	margin-right: 25px;
}

.footerItems3 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1138px;
	height: 34px;
	margin-bottom: 25px;
}

.terms {
	width: 100px;
	border-right: 1px black solid;
	margin-right: 25px;
	font-weight: 700;
}

.privacy {
	width: 115px;
	border-right: 1px black solid;
	margin-right: 25px;
	font-weight: 700;
}

.adChoices {
	width: 100px;
	border-right: 1px black solid;
	margin-right: 25px;
	font-weight: 700;
}

.dataVendors {
	font-weight: 700;
}
.footerItems4 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1138px;
	height: 39px;
	margin-bottom: 25px;
}

.georgiaImage1 {
	width: 200px;
	height: 60px;
}
.footerItems5 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1138px;
	height: 20px;
	margin-bottom: 25px;
	color: #6f7585;
}
.footerItems6 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1138px;
	height: 31px;
	margin-bottom: 25px;
}

.privacySettings {
	width: 120px;
	border-right: 1px black solid;
	margin-right: 5px;
	font-weight: 700;
}

.advertSettings {
	width: 226px;
	border-right: 1px black solid;
	margin-right: 10px;
	font-weight: 700;
}

.dataRights {
	width: 100px;
	border-right: 1px black solid;
	margin-right: 10px;
	font-weight: 700;
}

.footerItems7 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1138px;
	height: 20px;
	margin-bottom: 25px;
	color: #6f7585;
}
.footerItems8 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1138px;
	height: 51px;
}

.cloud {
	height: 50px;
	width: 150px;
	margin-left: 5px;
	margin-bottom: 15px;
}
